
.login-container {
  background-image: url('../../assets/images/Login/ship.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}
.login {
  max-width: 40vw;
  margin-top: 11%;
  margin-left: 60%; 
  padding: 3vw;
  position: fixed;
}

.login h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login button:hover {
  background-color: #0056b3;
}

.login a {
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
