.bodyLogin {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/Login/ship.png'); /* Adjust the path as needed */
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: left center; 
}

.login-form-container {
  width: 37%;
  padding: 20px;
  margin-left: 60%; 
  margin-top: 1vw;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
  margin-bottom: 10px;
}

.logo-image {
  width: 150px;
  height: auto;
}

.log-in-text {
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  letter-spacing: 1px; 
  font-weight: bold; 

  text-transform: uppercase; 
}


.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #f5891e;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:disabled {
  background-color: #f5891e;
  cursor: not-allowed;
}

.register-link,
.login-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #f5891e;
}


.login-form-container {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-form-container {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
