
.register-container {
  background-image: url('../../assets/images/Login/ship.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

.register {
  max-width: 40vw;
  margin-top: 11%;
  margin-left: 60%; 
  padding: 3vw;
  position: fixed;
}

.register .logoSmartShip img {
  width: 50%;
  margin-left: 25%;
  margin-top: -60%;
  height: auto;
}

.register form {
  margin-top: 20px;
}

.register h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.register input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.register .error {
  color: red;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}

.register button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register button:hover {
  background-color: #0056b3;
}

.register a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
