@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}



.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(20, 20, 21);
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0.5rem;
}

.logo {
  font-size: 1rem;
  line-height: 0;
}

.routes {
  margin-top: rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  color: white;
  gap: 1rem;
  padding: 0.4rem 1rem;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  border-right: 0.30rem solid transparent;
  transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover::before,
.active::before {
  width: 100rem;
  border-right-color: white;
}

.link:hover {
  background-color: rgb(241, 117, 0);
}

.active {
  background-color: rgb(241, 117, 0);
}

.link_text {
  white-space: nowrap;
  font-size: 1rem;
}

.logout-button button {
  margin-left: 2.5rem;
  padding: 0.7rem 2rem;
  background-color: #cc5200; /* Change this color for the logout button */
  color: #fff;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}